# Количество параллельных воркеров
GOCRAWL_WORKERS=5

# Таймаут для каждого запроса (в формате duration)
GOCRAWL_TIMEOUT=30s

# Максимальное количество повторных попыток
GOCRAWL_RETRIES=5

# Задержка между запросами в миллисекундах
GOCRAWL_RATELIMIT=0

# Максимальное время выполнения приложения (например, 10m, 1h). Установите 0 для отключения.
GOCRAWL_MAX_DURATION=10m